/* 
 *  Todo List app
 *  Styling sheet
 *
 *  @author: Rolando Rodriguez
 */


:root{
  --main-color: rgb(108, 173, 199);
  --main-color-light: rgb(108, 173, 199);
  --main-app-background: rgb(253, 247, 238);
  --main-body-background: rgb(247,247,247);
}

 body{
   background-color: var(--main-body-background);
 }


 #app{
   min-width: 400px;
   max-width: 1000px;
   margin: auto;
   padding-bottom: 30px;
   background-color: var(--main-app-background);
}

 #maintitle{
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   background-color: var(--main-color);
   vertical-align: middle;
   color: white;
 }

 #maintitle *{
   display: inline;
 }

 #maintitle img{
   width: 1.25em;
 }

 #newTaskForm{
   text-align: center;
   margin: 20px 0px 0px 0px;
   height: 42px;
 }

 #newTaskForm *{
   margin: 0;
   display: inline-block;
 }

 #newTask{
   margin: 0px;
   width: 78%;
   height: 38px;
   padding: 0 15px;
   border: 1px solid gray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
 }
 #addButton{
   font-size: 35px;
   height: 40px;
   margin: 0 5px;
   padding: auto auto;
   background-color: var(--main-color);
   vertical-align: top;
   text-align: center;
   border: 1px solid gray;
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   text-align: center;
 }
 #addButton.active{
   outline: none;
 }

 #taskBoard{
   list-style-type: none;
   padding: 0;
   margin: 10px auto 0px auto;
   width: 80%;
 }

 #taskBoard .task{
   border: 1px solid gray;
   padding: 10px;
   margin: auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(95, 95, 95);
   /* margin-bottom: 5px; */
   background-color: white;
   display: grid;
   grid-template-columns: auto 88% auto;
   align-items: center;
 }

 #taskBoard .task *{
   vertical-align: middle;
   display: inline-block;
 }

 .task-cb{
   height: 25px;
   width: 25px;
   margin: 0;
   padding: 0;

 }

 .task-text{
   font-size: 20px;
   padding: 0px 10px;
 }
 .task-delete{
   font-size: 40%;
 }

 .task-delete:hover{
   color: red;
 }

 .task-delete:active{
   color: orange;
   font-size: 100%;
 }

 #taskFooter{
   padding: 15px 0px;
   text-align: center;
   width: 79.8%;
   margin: 0px auto;
   border: 1px solid gray;
   display: grid;
   grid-template-columns: 30% 20% 20% 20%;
   column-gap: 1%;
   background-color: var(--main-color-light);
   color: white;
   font-size: 100%;
 }
 #taskFooter *{
  display: inline-block;
  padding: 1%;
 }

 .selected{
   border: 1px solid red;
 }

 .completed{
   text-decoration: line-through;
 }

 .activeFilter{
   border: 1px solid orange;
   border-radius: 5px;
 }

 @media only screen and (max-width: 768px){
  #newTask{
   width: 65%;
  }
  #addButton{
    width: 1em;
    padding: 0;
    padding-top: 0px;
    text-align: center;
    align-items: center;
  }
 }